<h1>Data Science Tools and Ecosystem</h1>

##### In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
  <li>Data Visualization tools are Pixie Dust, Hue, Kibana, and Apache Superset.</li>
  <li>Model deployment tools are Apache PredictionIO, Seldon, Kubernetes, Redhat OpenShift, Mleap, TensorFlow service, TensorFlow lite, and TensorFlow dot JS.  </li>
  <li>Code asset management tools are Git, GitHub, GitLab, and Bitbucket. </li>

Some of the popular languages that Data Scientists use are:
<ol>
  <li>Python</li>
  <li>R</li>
  <li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
  <li>TensorFlow</li>
  <li>NumPy</li>
  <li>SciPy</li>
  <li>Pandas</li>
  <li>Matplotlib</li>
</ol>

|No.|Data Science Tools|
|---|------------------|
|1|Apache AirFlow|
|2|Kubernetes|
|3|GitHub, GitLab|
|4|Oracle Database, IBM Db2|
|5|ModelDB, Prometheus|

<h3>Below are a few examples of evaluating arithmetic expressions in Python</3>

 This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*9)+5

32

This will convert 200 minutes to hours by diving by 60

In [5]:
200/60

3.3333333333333335

## Author

<h5>Long Nguyen </h5>